@font-face {
    font-family: vg5000;
    src: url(/assets/font/VG5000-Regular.otf);
}
:root {
    --phthalo-blue: #020887ff;
    --marian-blue: #334195ff;
    --glaucous: #647aa3ff;
    --ash-gray: #95b2b0ff;
    --tea-green: #c6ebbeff;
}
body {
    margin: 0;
    padding: 0;
    font-family: vg5000;
    color: var(--marian-blue);
    background-color: var(--tea-green);
}

/*Top Bar*/
#top-bar {
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    background-color: var(--marian-blue);
    color: var(--tea-green);
    
    transition: top 0.3s ease-in-out;
}
#top-bar.show {
    top: 0;
}

.top-bar-a:not(:first-child) {
    color: var(--tea-green);
    margin-left: 25px;
    text-decoration: none;
}
.top-bar-a:not(:first-child):hover {
    color: var(--tea-green);
    margin-left: 25px;
    text-decoration:underline;
}
/*Top Bar*/
.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 50px;
    color: var(--phthalo-blue);
}
#arrow {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: auto;

    transition: top 0.3s ease-in-out;
}
#arrow.hide {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: auto;
}