@font-face {
    font-family: vg5000;
    src: url(/assets/font/VG5000-Regular.otf);
}
:root {
    --phthalo-blue: #020887ff;
    --marian-blue: #334195ff;
    --glaucous: #647aa3ff;
    --ash-gray: #95b2b0ff;
    --tea-green: #c6ebbeff;
    --spacing-small: 0.625rem; /* 10px */
    --spacing-medium: 1.5625rem; /* 25px */
    --spacing-large: 3.125rem; /* 50px */
    --transition-duration: 0.3s;
    --font-size-large: 3.125rem; /* 50px */
    --font-size-medium: 1.875rem; /* 30px */
    --font-size-small: 1.25rem; /* 20px */
}
body {
    margin: var(--spacing-medium);
    padding: 0;
    font-family: vg5000;
    color: var(--marian-blue);
    background-color: var(--tea-green);
}

/*Top Bar*/
#top-bar {
    position: fixed;
    top: -3.75rem; /* -60px */
    left: 0;
    width: 100%;
    height: var(--spacing-large);
    display: flex;
    align-items: center;

    background-color: var(--marian-blue);
    color: var(--tea-green);
    
    transition: top var(--transition-duration) ease-in-out; /* Animation fluide */
}
#top-bar.show {
    top: 0; /* Descend à sa place */
}
.top-bar-a:not(:first-child) {
    color: var(--tea-green);
    margin-left: var(--spacing-medium);
    text-decoration: none;
    transition: color var(--transition-duration), background-color var(--transition-duration);
}
.top-bar-a:not(:first-child):hover,
.top-bar-a:not(:first-child):focus,
.top-bar-a:not(:first-child):active {
    background-color: var(--tea-green);
    color: var(--phthalo-blue);
    margin-left: var(--spacing-medium);
}
/*Top Bar*/

/*Main Effect*/
.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: var(--font-size-large);
    color: var(--phthalo-blue);
    transition: all 0.5s ease-in-out;
}
.main-title.small-title {
    justify-content: start;
    align-items: start;
    height: auto;
    width: auto;
    margin: 50px 0 0 25px;
    text-align: left;
    font-size: var(--font-size-medium);
}
#arrow {
    color: var(--phthalo-blue);
    position: fixed;
    bottom: var(--spacing-small);
    left: 50%;
    transform: translateX(-50%);
    width: var(--spacing-large);
    height: auto;
}
#arrow.hide {
    display: none;
}
/*Main Effect*/

/*Responsive*/
@media (max-width: 768px) {
    :root {
        --spacing-medium: 1rem; /* 16px */
        --spacing-large: 2rem; /* 32px */
        --font-size-large: 2rem; /* 32px */
        --font-size-small: 1rem; /* 16px */
    }
    body {
        margin: var(--spacing-medium);
    }
    #top-bar {
        height: var(--spacing-large);
    }
    .main-title {
        font-size: var(--font-size-large);
    }
    #arrow {
        width: var(--spacing-large);
    }
}
/*Responsive*/